  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Lista de participantes</h2>

      <hr />

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
          </tr>
        </thead>
        <tbody id="cuerpo">
          {{#each usuarios}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td><div>{{this.foto}}</div></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            <td><input type="checkbox" {{#if this.estado}} checked {{/if}} onclick="cambiarAuth({{this.id}},this)"/></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <h5><a href="#">Iniciar Sesión</a> |
      <a href="#">Registrarme</a></h5>
    </div>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
